<!DOCTYPE html>
<html>
  <head>
    {% block title %}<title>My Basic Blog</title>{% endblock %}
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no'>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">
    {% load static %}
    <link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}">
    <link rel='stylesheet' href="{% static 'css/styles.css' %}">
    
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col pt-1">
            <a class="text-muted" href="#">Subscribe</a>
          </div>
          <div class="col-auto text-center">
            <a class="blog-header-logo text-dark" href="{% url 'home' %}">Hammers and Pitchforks</a>
          </div>
          <div class="col d-flex justify-content-end align-items-center">
            <a class="text-muted" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
            </a>
            <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
          </div>
        </div>
      </header>
      
      {% block navbar %}
      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" href="{% url 'home' %}">Home</a>
          <a class="p-2 text-muted" href="{% url 'author-list' %}">Authors</a>
          {% if user.is_authenticated %}
          {% if user.is_author %}
          <a class="p-2 text-muted" href="{% url 'author-detail' user.author.id %}">Your profile</a>
          <a class="p-2 text-muted" href="{% url 'author-posts' user.author.id %}">Your posts</a>
          {% endif %}
          <a class="p-2 text-muted" href="{% url 'logout' %}">Logout</a>
          {% else %}
          <a class="p-2 text-muted" href="{% url 'login' %}">Login</a>
          {% endif %}
        </nav>
      </div>
      {% endblock %}
      {% block main %}
      
      {% block content %}{% endblock %}
      {% block pagination %}
      {% if is_paginated %}
      <div class='pagination'>
	<span class='page-links'>
	  {% if page_obj.has_previous %}
	  <a href='{{ request.path }}?page={{ page_obj.previous_page_number }}'>&lt;&lt;</a>
	  {% endif %}
	  {% for num in page_obj.paginator.page_range %}
	  {% if forloop.counter != page_obj.number %}<a href='{{ request.path }}?page={{ num }}'>{% endif %}
	    {{ num }}
	    {% if forloop.counter != page_obj.number %}</a>{% endif %}
	  {% endfor %}
	  {% if page_obj.has_next %}
	  <a href='{{ request.path }}?page={{ page_obj.next_page_number }}'>&gt;&gt;</a>
	  {% endif %}
	</span>
      </div>
      {% endif %}
      {% endblock %}
      {% endblock %}
    </div>
    {% block footer %}

    {% endblock %}
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
  </body>
</html>

